.card {
    width: 560px;
    height: 380px;
    margin-right: 20px;
    padding: 25px 20px 25px 20px;
    background-color: #AFE8AE;
    border-radius: 25px;
    pointer-events: none;
    overflow: hidden;
    /* box-shadow: #110c2e1a 0px 28px 100px 0px; */
}

.card_title {
    font-size: 34px; 
    font-weight: 500;
    color: #013D00;
    user-select: none;
    -webkit-user-drag: none;
}

.card_text {
    width: 330px;
    position: relative;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    user-select: none;
    color: #032602;
}

.card_image {
    width: 330px;
    height: 330px;
    position: relative;
    left: 315px;
    top: -200px;
    user-select: none;
    pointer-events: none;
}