.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B2F2FF;
    background-image: url('../public/donate_splash.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
}

.ape_logo {
    width: 164px;
    height: 164px;
    margin-top: 50px;
}

.title {
    font-weight: 500;
    font-size: 64px;
    margin: 0 20px 20px 20px;
}

.donate_box {
    width: 385px;
    height: 520px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.box_title {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.45;
    text-align: center;
}

.box_subtitle {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.selections {
    width: 100%;
    margin: 15px 0 8px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px 6px;
}

.selection_item {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #CDC8C8;
    border-radius: 12px;
    background-color: #EDF2F7;
    font-family: 'MazzardH';
    font-weight: 400;
    font-size: 18px;
}

.active_selection_item {
    background-color: #113259;
    color: #ffffff;
}

.selection_item:hover {
    cursor: pointer;
}

.custom_selection {
    width: 100%;
    height: 45px;
    padding: 20px;
    margin: 5px 0 15px 0;
    display: flex;
    align-items: center;
    border: 1px solid #CDC8C8;
    border-radius: 12px;
    background-color: #EDF2F7;
    font-family: 'MazzardH';
    font-weight: 400;
    font-size: 18px;
}

.custom_selection_input {
    padding-left: 10px;
    border: none;
    background: none;
    font-family: 'MazzardH';
    font-weight: 400;
    font-size: 18px;
}

.custom_selection_input:focus {
    outline: none;
}

.donate_button {
    width: 100%;
    height: 45px;
    margin: 10px 0 20px 0;
    background-color: #DC582A;
    border-radius: 30px;
    border: none;
    color: #ffffff;
    font-family: 'MazzardH';
    font-weight: 400;
    font-size: 18px;
}

.donate_button:hover {
    cursor: pointer;
}

.disclaimer {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
    text-align: justify;
    color: #474747;
}

@media only screen and (max-width: 500px) {
    .title {
        font-size: 45px;
    }

    .donate_box {
        width: 92vw;
    }

    .ape_logo {
        width: 132px;
        height: 132px;
    }
}


@media only screen and (max-width: 350px) {
    .title {
        font-size: 40px;
    }
}

@media only screen and (max-height: 800px) {
    .main {
        height: calc(100vh + 200px)
    }
}

@media only screen and (max-height: 600px) {
    .main {
        height: calc(100vh + 400px)
    }
}