.landing {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 0) {
    .landing {
        flex-direction: column;
    }
}

@media only screen and (min-width: 800px) {
    .landing {
        flex-direction: row;
    }
}

@-webkit-keyframes crossfade {
    0% {background-image: url('../public/donate/planting-site-0.jpg');}
    50% {background-image: url('../public/donate/planting-site-1.jpg');}
    100% {background-image: url('../public/donate/planting-site-0.jpg');}
}

@keyframes crossfade {
    0% {background-image: url('../public/donate/planting-site-0.jpg');}
    50% {background-image: url('../public/donate/planting-site-1.jpg');}
    100% {background-image: url('../public/donate/planting-site-0.jpg');}
}

.planting_site {
    background-image: url('../public/donate/planting-site-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: crossfade;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}

.donate_button {
    width: 160px;
    height: 45px;
    margin: 25px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: #4BC257;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.donation_progress,
.progress_bar {
    max-width: 800px;
    height: 12px;
    border-radius: 50px;
}

.donation_progress {
    background-color: #dddddd;
}

.progress_bar {
    background-color: #71d45b;
}

.slideshow_img {
    width: 700px;
    height: auto;
    margin-right: 25px;
}