.hero_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B2F2FF;
}

.hero {
    width: 100%;
    height: 100%;
    background-image: url("../public/hero.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: calc(12vw + 80vh);
    z-index: 1;
}

.counter {
    font-family: 'MazzardH';
    font-style: normal;
    font-size: calc(4vw + 5vh);
    margin: 80px 0 10px 0;
    color: #2F2F2F;
}

.counter_text {
    margin: 10px;
    font-size: 32px;
    font-size: calc(1vw + 2vh);
    font-family: "MazzardH";
    font-style: medium;
    color: #2F2F2F;
    flex-grow: 1;
}

.hero_text_container {
    width: 78%;
    position: absolute;
    top: calc(4vw + 28vh);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hero_text {
    font-size: calc(4vw + 6vh);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #2F2F2F;
    word-spacing: 60px;
    font-family: "MazzardH";
}

.infobox {
    height: 500px;
}

.section_description {
    width: 100%;
    max-width: 700px;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
}

.scrollable_container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.scrollable_container::-webkit-scrollbar:vertical {
    height: 5px;
    background-color: red;
}

.card {
    flex: 0 0 auto;
    width: 560px;
    height: 380px;
    margin-right: 20px;
    padding: 25px 20px 25px 20px;
    background-color: #beede0;
    border-radius: 25px;
    /* box-shadow: #110c2e1a 0px 28px 100px 0px; */
}