.hero_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B2F2FF;
}

.hero {
    width: 100%;
    height: 100%;
    background-image: url("../public/hero.svg");
    background-repeat: no-repeat;
    background-position: bottom;
}

@media only screen and (min-width: 0) {
    .hero {
        background-size: 600px;
    }
}

@media only screen and (min-width: 450px) {
    .hero {
        background-size: 700px;
    }
}

@media only screen and (min-width: 1000px) {
    .hero {
        background-size: 900px;
    }
}

.counter {
    font-family: 'MazzardH';
    /* font-size: 110px; */
    font-size: 2vw;
    margin: 80px 0 10px 0;
    color: #2F2F2F;
}

.counter_text {
    margin: 10px;
    font-size: 32px;
    font-weight: 300;
    color: #2F2F2F;
    flex-grow: 1;
    font-family: "MazzardH";
}

.hero_text_container {
    position: absolute;
    top: 40%;
    width: 78%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hero_text {
    /* font-size: 136px; */
    font-size: 2vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #2F2F2F;
    word-spacing: 60px;
    font-family: "MazzardH";
}

.infobox {
    height: 500px;
}