.main {
    max-width: 640px;
    width: fit-content;
    height: 310px;
    padding: 40px;
    margin: 15px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: #64646f33 0px 7px 29px 0px;
}

.image_container {
    width: 240px;
    height: 240px;
    clip-path: circle(120px);
}

.bio_container {
    line-height: 1.4;
}

@media screen and (min-width: 0px) {
    .main {
        flex-direction: column;
        height: fit-content;
    }

    .bio_container {
        width: 100%;
    }
}

@media screen and (min-width: 650px) {
    .main {
        flex-direction: row;
    }

    
    .bio_container {
        width: 50%;
    }
}